Q1. Create one variable containing the following data types

In [ ]:
my_string = "Hello"
my_list = [1, 2, 3]
my_float = 10.5
my_tuple = (10, 20, 30)

Q2. Find the data type of the following variables

In [ ]:
var1 = ' '
var2 = '[ DS , ML , Python ]'
var3 = ['DS', 'ML', 'Python']
var4 = 1.

Q3. Explain the operators with example

In [ ]:
a = 10 / 3
print(a)

In [ ]:
a = 10 % 3
print(a)

In [ ]:
a = 10 // 3
print(a)

In [ ]:
a = 2 ** 3
print(a)

Q4. Create a list of length 10 with multiple data types and print element with its type

In [ ]:
my_list = [10, 3.5, "Python", True, 8, 2.1, "DS", False, (1,2), [5,6]]

for item in my_list:
    print(item, type(item))

Q5. Using while loop, check if A is purely divisible by B and how many times

In [ ]:
A = 24
B = 3

count = 0
temp = A

while temp % B == 0:
    temp = temp // B
    count += 1

if count > 0:
    print("A is purely divisible by B")
    print("It is divisible", count, "times")
else:
    print("A is not purely divisible by B")

Q6. Create a list of 25 integers and check divisibility by 3

In [ ]:
my_list = list(range(1, 26))

for num in my_list:
    if num % 3 == 0:
        print(num, "is divisible by 3")
    else:
        print(num, "is not divisible by 3")

Q7. Mutable and Immutable data types

In [ ]:
a = [1, 2, 3]
a[0] = 100
print(a)

Immutable data types

Those data types whose values cannot be changed after creation.

Example â€“ tuple:

In [ ]:
t = (1, 2, 3)
t[0] = 100